<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtstjkx.jkx.repository.AlarmMapper">
    <resultMap id="AlarmsMap" type="com.rtstjkx.jkx.entity.Alarm">
        <result column="ID" property="id"/>
        <result column="BITValueA" property="BITValueA"/>
        <result column="BITCode" property="BITCode"/>
        <result column="BITValueB" property="BITValueB"/>
        <result column="BITValueC" property="BITValueC"/>
        <result column="WS_Code" property="WS_Code"/>
        <result column="alarmTime" property="alarmTime"/>
    </resultMap>
    <insert id="addAlarm" parameterType="java.util.HashMap">
        insert into c_alarm (WS_Code,BITValueA,BITValueB,BITValueC,alarmTime) values (#{WS_Code},#{BITValueA},#{BITValueB},#{BITValueC},#{alarmTime})
    </insert>
    <!--查询当前时间向前推移20秒的告警数据-->
    <select id="getAlarmList"  resultMap="AlarmsMap">
        select ID,BITcode,WS_Code,BITValueA,BITValueB,BITValueC,AlarmTime
              from c_alarm
              where AlarmTime>DATE_SUB(NOW(), INTERVAL 3000 SECOND)
    </select>
    <select id="getAlarmByPCS"  parameterType="com.rtstjkx.jkx.entity.PcsInformation" resultMap="AlarmsMap">
        select a.ID as ID,a.BITcode as BITCode,a.WS_Code as WS_Code,a.BITValueA as BITValueA,a.BITValueB as BITValueB,a.BITValueC as BITValueC,a.AlarmTime as alarmTime
			from c_worksite w
			LEFT JOIN c_pcs p ON w.WS_SysCode = p.PCS_Code
			RIGHT JOIN c_alarm a ON w.WS_Code = a.WS_Code
            where p.PCS_Code= #{pcsCode} AND AlarmTime>DATE_SUB(NOW(), INTERVAL 3000 SECOND)
    </select>
</mapper>
