<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtstjkx.jkx.repository.systemInfo.AuthMapper">
    <sql id="allcolumn">
        permissionId,available,parentId,parentIds,permission,permissionName,resourceType,url
    </sql>
    <insert id="authAdd" parameterType="com.rtstjkx.jkx.entity.systemInfo.Permission">
        insert into sys_permission(available,parentId,parentIds,permission,permissionName,resourceType,url)
                values (#{available},#{parentId},#{parentIds},#{permission},#{permissionName},#{resourceType},#{url})
    </insert>
    <update id="authUpdate" parameterType="com.rtstjkx.jkx.entity.systemInfo.Permission">
        update sys_permission set available=#{available}, parentId=#{parentId},permission=#{permission},permissionName=#{permissionName},resourceType=#{resourceType},url=#{url}
                where permissionId =#{permissionId}
    </update>
    <delete id="authDel" parameterType="integer">
        delete  from sys_permission where permissionId =#{permissionId}
    </delete>
    <select id="findAuthByRoleId"  resultType="string">
      select p.permission
          from sys_permission p
          left join sys_role_permission rp on rp.permissionId = p.permissionId
          left join sys_role r on r.roleId = rp.roleId
          where r.roleId =
          <foreach collection="list" item="roleId" open="(" close=")" separator=",">
              #{roleId}
          </foreach>
    </select>
    <select id="authList" resultType="com.rtstjkx.jkx.entity.systemInfo.Permission">
        select <include refid="allcolumn"/>
                from sys_permission
    </select>
</mapper>
