<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtstjkx.jkx.repository.DataMapper">
    <sql id="allColumns">
        `DS_ID`,`WS_Code`,`DS_Jldy` ,`DS_Jldl`,`DS_Jldn`,`DS_DC12dy`,`DS_DC24dy`,
        `DS_WD`,`DS_SD`,`DS_ZYQX`,`DS_QHQX`,`DS_GMADC`,`DS_SJADC`,`DS_ZTBYTEA`,
        `DS_ZTBYTEB`,`DS_ZTBYTEC`,`DS_PMA`,`DS_PMB`,`DS_ZS`,`DS_YL`,`DS_FL`,
        `DS_YLA`,`DS_YLB`,`DS_YLC`,`DS_YLD`,`DS_DateTime`
    </sql>
    <resultMap id="Dsignal" type="com.rtstjkx.jkx.entity.Dsignal">
        <result property="dsID" column="DS_ID"/>
        <result property="wsCode" column="WS_Code"/>
        <result property="dsJldy" column="DS_Jldy"/>
        <result property="dsJldl" column="DS_Jldl"/>
        <result property="dsJldn" column="DS_Jldn"/>
        <result property="dsDC12dy" column="DS_DC12dy"/>
        <result property="dsDC24dy" column="DS_DC24dy"/>
        <result property="dsWD" column="DS_WD"/>
        <result property="dsSD" column="DS_SD"/>
        <result property="dsZYQX" column="DS_ZYQX"/>
        <result property="dsQHQX" column="DS_QHQX"/>
        <result property="dsGMADC" column="DS_GMADC"/>
        <result property="dsSJADC" column="DS_SJADC"/>
        <result property="dsZTBYTEA" column="DS_ZTBYTEA"/>
        <result property="dsZTBYTEB" column="DS_ZTBYTEB"/>
        <result property="dsZTBYTEC" column="DS_ZTBYTEC"/>
        <result property="dsPMA" column="DS_PMA"/>
        <result property="dsPMB" column="DS_PMB"/>
        <result property="dsZS" column="DS_ZS"/>
        <result property="dsYL" column="DS_YL"/>
        <result property="dsFL" column="DS_FL"/>
        <result property="dsDateTime" column="DS_DateTime"/>
    </resultMap>

    <!--统计报表时查询各站点的交流电能值-->
    <select id="selectEnergy" resultMap="Dsignal">
        SELECT c_dsignal.DS_ID,c_dsignal.WS_Code,c_dsignal.DS_Jldy,c_dsignal.DS_Jldl,c_dsignal.DS_Jldn,c_dsignal.DS_DateTime
              from c_dsignal
              where DS_DateTime= #{dsDateTime} GROUP BY WS_Code ORDER BY WS_Code
    </select>

    <!--统计每天的能耗值后插入到energyDay表中-->
    <insert id="insertEnergyDay" >
        insert into energyDay(WS_Code,energyDay,dateTime) values(#{WS_Code},#{energyDay},#{dateTime})
    </insert>
    <!--统计每月的能耗值后插入到energyMonth表中-->
    <insert id="insertEnergyMonth">
        insert into energyMonth(WS_Code,energyMonth,dateTime) values(#{WS_Code},#{energyMonth},#{dateTime})
    </insert>
    <!--统计每年的能耗值后插入到energyYear表中-->
    <insert id="insertEnergyYear">
        insert into energyYear(WS_Code,energyYear,dateTime) values(#{WS_Code},#{energyYear},#{dateTime})
    </insert>
</mapper>
