<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtstjkx.jkx.repository.systemInfo.RoleMapper">
    <sql  id="allcolumn">
       r.roleId,r.role
    </sql>
    <insert id="addRole" parameterType="com.rtstjkx.jkx.entity.systemInfo.Role">
        insert into sys_role(role,description,available) values(#{role},#{description},#{available})
    </insert>
    <update id="updateRole" parameterType="com.rtstjkx.jkx.entity.systemInfo.Role">
        update sys_user
          <trim prefix="set" suffixOverrides=",">
              <if test="null!=role and ''!=role">role=#{role}</if>
              <if test="null!=description and ''!=description">description=#{description}</if>
              <if test="null!=available and ''!=available">available=#{available}</if>
          </trim>
        where roleId =#{roleId}
    </update>
    <delete id="delRole" parameterType="com.rtstjkx.jkx.entity.systemInfo.Role">
        delete from sys_role
                where roleId = #{roleId}
    </delete>
    <select id="findRoleByUserId" parameterType="Integer" resultType="com.rtstjkx.jkx.entity.systemInfo.Role">
        select <include refid="allcolumn"/>
                from sys_role r
                left join sys_user_role ur on ur.roleId = r.RoleId
                left join sys_user u on u.userId = ur.userId
                where u.userId = #{userId}
    </select>
    <select id="roleList" resultType="com.rtstjkx.jkx.entity.systemInfo.Role">
        select roleId,available,description,role
              from sys_role
    </select>
</mapper>
