<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtstjkx.jkxlistener.repository.SignalMapper" >
    <sql id="column">
        WS_Code,DS_Jldy,DS_Jldl,DS_Jldn,DS_DC12dy,DS_DC24dy,DS_WD,DS_SD,
        DS_ZYQX,DS_QHQX,DS_GMADC,DS_SJADC,DS_ZTBYTEA,DS_ZTBYTEB,DS_ZTBYTEC,DS_PMA,DS_PMB,DS_ZS,DS_YL,DS_FL,DS_DateTime
    </sql>
    
    <insert id="addDsignal" parameterType="java.util.HashMap">
        insert into c_dsignal(<include refid="column"/>) values(#{wsCode},#{dsJldy},#{dsJldl},#{dsJldn},#{dsDC12dy},#{dsDC24dy},#{dsWD},
        #{dsSD},#{dsZYQX},#{dsQHQX},#{dsGMADC},#{dsSJADC},#{dsZTBYTEA},#{dsZTBYTEB},#{dsZTBYTEC},#{dsPMA},#{dsPMB},#{dsZS},#{dsYL},#{dsFL},#{dsDateTime})
    </insert>
</mapper>
