<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtstjkx.jkx.repository.systemInfo.UserMapper">
    <sql id="allcolumn">
        Id,userAccount,userPassword
    </sql>
    
    <select id="findUserByAccount"  parameterType="java.util.HashMap" resultType="com.rtstjkx.jkx.entity.systemInfo.SysUser">
        select <include refid="allcolumn"/>
              from sysuser
              where 1=1
              and userAccount = #{userAccount}
    </select>
</mapper>
