<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtstjkx.jkx.repository.WorkSiteMapper">
    <sql id="allcolumn">
        WS_Code as wsCode,WS_Name as wsName,WS_IP as wsIp,WS_Org_Code as wsOrgCode,WS_Area_Code as wsAreaCode,WS_DWS_Code as wsDwsCode,WS_Longitude as wsLongitude,WS_Latitude as wsLatitude,WS_SysCode as wsSysCode,WS_Operators as wsOperators,WS_Num as wsNum,WS_State wsState
    </sql>
    <select id="workSiteList" resultType="com.rtstjkx.jkx.entity.WorkSite">
          select WS_Code as wsCode,WS_Name as wsName,WS_IP as wsIp,WS_Org_Code as wsOrgCode,WS_Area_Code as wsAreaCode,WS_DWS_Code as wsDwsCode,WS_Longitude as wsLongitude,WS_Latitude as wsLatitude,WS_SysCode as wsSysCode,WS_Operators as wsOperators,WS_Num as wsNum,WS_State wsState,p.PCS_Name as pcsName,p.PCS_AreaID as pcsAreaId
                  from c_worksite w
                  left join c_pcs p on p.PCS_Code=w.WS_SysCode
    </select>
    <select id="workSiteOne"  parameterType="com.rtstjkx.jkx.entity.WorkSite" resultType="com.rtstjkx.jkx.entity.WorkSite">
        select  <include refid="allcolumn"/>
                from c_worksite
                where 1=1
                <if test="null!=wsCode and ''!=wsCode">and WS_Code=#{wsCode}</if>
                <if test="null!=wsName and ''!=wsName">and WS_Name=#{wsName}</if>
                <if test="null!=wsIp and ''!=wsIp">and WS_IP=#{wsIp}</if>
                <if test="null!=wsSysCode and ''!=wsSysCode">and WS_SysCode=#{wsSysCode}</if>
    </select>
    <insert id="workSiteAdd" parameterType="com.rtstjkx.jkx.entity.WorkSite">
        insert into c_worksite(WS_Code,WS_Name,WS_IP,WS_Org_Code,WS_Area_Code,WS_DWS_Code,WS_Longitude,WS_Latitude,WS_SysCode,WS_Operators,WS_Num,WS_State)
                values (#{wsCode},#{wsName},#{wsIp},#{wsOrgCode},#{wsAreaCode},#{wsDwsCode},#{wsLongitude},#{wsLatitude},#{wsSysCode},#{wsOperators},#{wsNum},#{wsState})
    </insert>
    <delete id="workSiteDel" parameterType="com.rtstjkx.jkx.entity.WorkSite">
        delete from c_worksite where WS_Code=#{wsCode}
    </delete>
    <update id="workSiteUpdate" parameterType="com.rtstjkx.jkx.entity.WorkSite">
        update c_worksite set WS_Code=#{wsCode},WS_Name=#{wsName},WS_IP=#{wsIp},WS_Org_Code=#{wsOrgCode},WS_Area_Code=#{wsAreaCode},WS_DWS_Code=#{wsDwsCode},WS_Longitude=#{wsLongitude},WS_Latitude=#{wsLatitude},WS_SysCode=#{wsSysCode},WS_Operators=#{wsOperators},WS_Num=#{wsNum},WS_State=#{wsState})
    </update>
</mapper>
